@model Zero_Hunger.Models.CollectReq

@{
    ViewBag.Title = "Assign";
}

<h2>Assign</h2>

<p>
    Assign employee to collect food.
</p>

@using (Html.BeginForm("Assign", "CollectReq", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as SelectList, "--Select an employee--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
        </div>
    </div>
  <div></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Assign</button>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

